In [1]:
import pandas as pd
import numpy as np

In [2]:
data_BM= pd.read_csv("E:/My_pythone _practise/Pandas Part 1/bigmart_data.csv")

In [3]:
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
data_BM.isna().values.any()

True

In [13]:
data_BM.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [12]:
data_BM["Outlet_Size"].isna().sum()

0

In [10]:
data_BM=data_BM.dropna(how="any")

In [15]:
data_BM.shape

(4650, 12)

In [16]:
data_BM.sort_values("Outlet_Establishment_Year",ascending=False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2825,FDL16,12.85,Low Fat,0.169139,Frozen Foods,46.4060,OUT018,2009,Medium,Tier 3,Supermarket Type2,186.4240
7389,NCD42,16.50,Low Fat,0.012689,Health and Hygiene,39.7506,OUT018,2009,Medium,Tier 3,Supermarket Type2,227.7036
2165,DRJ39,20.25,Low Fat,0.036474,Dairy,218.3482,OUT018,2009,Medium,Tier 3,Supermarket Type2,2409.5302
2162,FDR60,14.30,Low Fat,0.130946,Baking Goods,76.7328,OUT018,2009,Medium,Tier 3,Supermarket Type2,1312.9576
2158,FDM58,16.85,Regular,0.080015,Snack Foods,111.8544,OUT018,2009,Medium,Tier 3,Supermarket Type2,1677.8160
...,...,...,...,...,...,...,...,...,...,...,...,...
3328,FDL13,13.85,Regular,0.056272,Breakfast,232.2300,OUT013,1987,High,Tier 3,Supermarket Type1,1398.1800
6795,FDL56,14.10,Low Fat,0.125676,Fruits and Vegetables,86.9198,OUT013,1987,High,Tier 3,Supermarket Type1,1133.8574
3331,FDH40,11.60,Regular,0.078864,Frozen Foods,83.2276,OUT013,1987,High,Tier 3,Supermarket Type1,1543.3244
3334,NCQ42,20.35,Low Fat,0.039236,Household,127.2678,OUT013,1987,High,Tier 3,Supermarket Type1,1017.3424
4244,NCQ43,17.75,LF,0.111209,Others,107.7912,OUT013,1987,High,Tier 3,Supermarket Type1,982.7208

In [17]:
data_BM= data_BM.reset_index(drop=True)

In [18]:
data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
4,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [36]:
price_by_item = data_BM.groupby("Item_Type")
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDW11,12.600,Low Fat,0.048981,61.9194,OUT018,2009,Medium,Tier 3,Supermarket Type2,619.1940
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC02,21.350,Low Fat,0.069103,259.9278,OUT018,2009,Medium,Tier 3,Supermarket Type2,6768.5228
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDR28,13.850,Regular,0.025896,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
Fruits and Vegetables,FDY07,11.800,Low Fat,0.000000,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
Hard Drinks,DRJ59,11.650,low fat,0.019356,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCM43,14.500,Low Fat,0.019472,164.8210,OUT035,2004,Small,Tier 2,Supermarket Type1,2120.5730
Seafood,FDH21,10.395,Low Fat,0.031274,160.0604,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDB11,16.000,Low Fat,0.060837,226.8404,OUT035,2004,Small,Tier 2,Supermarket Type1,6301.1312

In [37]:
price_by_item.Item_MRP.mean()

Item_Type
Baking Goods             125.795653
Breads                   141.300639
Breakfast                134.090683
Canned                   138.551179
Dairy                    149.481471
Frozen Foods             140.095830
Fruits and Vegetables    145.418257
Hard Drinks              140.102908
Health and Hygiene       131.437324
Household                149.884244
Meat                     140.279344
Others                   137.640870
Seafood                  146.595782
Snack Foods              147.569955
Soft Drinks              130.910182
Starchy Foods            151.256747
Name: Item_MRP, dtype: float64

In [39]:
pd.crosstab(data_BM["Outlet_Size"],data_BM["Outlet_Location_Type"],margins=True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0     928  1858
Small                    930     930       0  1860
All                     1860     930    1860  4650

In [40]:
pd.pivot_table(data_BM,index="Outlet_Establishment_Year",values="Item_Outlet_Sales")

                           Item_Outlet_Sales
Outlet_Establishment_Year
1987                             2298.995256
1997                             2277.844267
1999                             2348.354635
2004                             2438.841866
2009                             1995.498739

In [41]:
pd.pivot_table(data_BM,index=["Outlet_Establishment_Year","Outlet_Size","Outlet_Location_Type"],values="Item_Outlet_Sales")

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Size Outlet_Location_Type
1987                      High        Tier 3                      2298.995256
1997                      Small       Tier 1                      2277.844267
1999                      Medium      Tier 1                      2348.354635
2004                      Small       Tier 2                      2438.841866
2009                      Medium      Tier 3                      1995.498739

In [43]:
pd.pivot_table(data_BM,index=["Outlet_Establishment_Year","Outlet_Size","Outlet_Location_Type"],values="Item_Outlet_Sales",aggfunc=[np.mean,np.median,max,min,np.std])

,,,mean,median,max,min,std
,,,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales,Item_Outlet_Sales
Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,,,,,
1987,High,Tier 3,2298.995256,2050.6640,10256.6490,73.2380,1533.531664
1997,Small,Tier 1,2277.844267,1945.8005,9779.9362,101.8674,1488.405631
1999,Medium,Tier 1,2348.354635,1966.1074,7646.0472,111.8544,1513.289464
2004,Small,Tier 2,2438.841866,2109.2544,8479.6288,113.8518,1538.512533
2009,Medium,Tier 3,1995.498739,1655.1788,6768.5228,69.2432,1375.932889