In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
epl_matches_train= pd.read_csv("D:/College_work/EPL_Challenge/epl_matches_train.csv")

In [3]:
epl_matches_test= pd.read_csv("D:/College_work/EPL_Challenge/epl_matches_test.csv")

In [4]:
epl_matches_train.head()

,season,stage,date,match_id,home_team_id,away_team_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,red_card_away_team,crosses_home_team,crosses_away_team,corner_home_team,corner_away_team,possession_home_team,possession_away_team,home_team_goal,away_team_goal,Match_results
0,2008\2009,1,17-08-2008,49337,10260,10261,1,2,4,6,...,0,24,9,6,6,55.0,45.0,1,1,0
1,2008\2009,1,16-08-2008,38136,9825,8659,1,2,4,6,...,0,21,7,7,5,66.0,34.0,1,0,1
2,2008\2009,1,16-08-2008,43276,8472,8650,1,2,4,6,...,0,15,19,1,8,46.0,54.0,0,1,-1
3,2008\2009,1,16-08-2008,40671,8654,8528,1,2,4,6,...,0,15,27,6,10,52.0,48.0,2,1,1
4,2008\2009,1,17-08-2008,34633,10252,8456,1,2,4,6,...,0,16,16,7,8,52.0,48.0,4,2,1

In [5]:
epl_matches_test.head(20)

,season,stage,date,match_id,home_team_id,away_team_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,2015/2016,1,08-09-2015,48994,9825,8654,1,2,4,6,...,109897.0,35110,49543,155782,37169,575789,148302,25496,18506,192899
1,2015/2016,1,08-08-2015,54777,8678,10252,1,2,4,6,...,183500.0,24208,161414,473853,261313,179410,182223,23991,154280,23264
2,2015/2016,1,08-08-2015,31434,8455,10003,1,2,4,6,...,111800.0,155050,24948,102356,127130,144996,95955,157729,52563,26344
3,2015/2016,1,08-08-2015,56248,8668,9817,1,2,4,6,...,213809.0,41927,40548,35712,41365,30966,24915,37411,71724,72436
4,2015/2016,1,08-08-2015,44311,8197,8472,1,3,5,7,...,22964.0,26108,165526,180330,35443,25150,109058,24159,30348,42598
5,2015/2016,1,08-08-2015,49672,10260,8586,1,2,4,6,...,159833.0,160599,37762,276121,500520,361315,41008,157723,110189,194165
6,2015/2016,1,08-09-2015,48506,10261,8466,1,2,4,6,...,160627.0,26552,72665,538112,23792,166676,94267,303339,109491,41280
7,2015/2016,1,08-08-2015,45922,9850,9826,1,2,4,6,...,146830.0,23837,23030,183519,35345,26160,28901,198510,149917,35523
8,2015/2016,1,08-09-2015,45509,10194,8650,1,2,4,6,...,157838.0,114268,22764,568571,184536,156008,38807,280653,37234,148315
9,2015/2016,1,08-10-2015,48741,8659,8456,1,4,8,6,...,26111.0,39027,156551,16351,36615,40196,33991,37459,246575,143365
10,2015/2016,10,10-24-2015,45484,9825,8668,1,2,4,6,...,77690.0,263653,23268,316688,101192,23782,251925,215384,30895,181276
11,2015/2016,10,10-24-2015,44432,10252,10003,1,2,4,6,...,111800.0,155050,24948,102356,144996,127130,95955,157729,52563,26344
12,2015/2016,10,10-25-2015,54812,8678,8586,1,2,4,6,...,46353.0,159833,160599,37762,41008,174850,157723,361315,363333,194165
13,2015/2016,10,10-24-2015,33306,8197,9826,1,2,4,6,...,23358.0,23837,26777,154271,28901,26160,46417,35345,160194,24157
14,2015/2016,10,10-25-2015,57312,8650,8466,1,2,4,6,...,26552.0,209405,160627,46010,166676,209384,94267,23792,303339,41280
15,2015/2016,10,10-25-2015,51069,10260,8456,1,2,4,6,...,26111.0,16351,39027,174321,40196,169200,101103,246575,36615,143365
16,2015/2016,10,10-24-2015,50858,9850,8659,1,2,4,6,...,169162.0,32441,43248,23257,33468,24148,113968,175947,51545,239807
17,2015/2016,10,10-24-2015,42270,10194,9817,1,2,4,6,...,213809.0,40548,114769,417068,22991,41365,24915,72436,25816,101419
18,2015/2016,10,10-25-2015,51771,8472,10261,1,2,4,6,...,104482.0,277761,30929,308932,94550,38373,160243,108038,479020,351860
19,2015/2016,10,10-24-2015,51701,8654,8455,1,2,4,6,...,281207.0,23783,30627,72541,79574,115067,94086,30613,107417,19243

In [6]:
epl_matches_train.shape

(2660, 91)

In [7]:
epl_matches_test.shape

(380, 72)

In [8]:
epl_matches_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2660 entries, 0 to 2659
Data columns (total 91 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   season                     2660 non-null   object
 1   stage                      2660 non-null   int64
 2   date                       2660 non-null   object
 3   match_id                   2660 non-null   int64
 4   home_team_id               2660 non-null   int64
 5   away_team_id               2660 non-null   int64
 6   home_player_X1             2660 non-null   int64
 7   home_player_X2             2660 non-null   int64
 8   home_player_X3             2660 non-null   int64
 9   home_player_X4             2660 non-null   int64
 10  home_player_X5             2660 non-null   int64
 11  home_player_X6             2660 non-null   int64
 12  home_player_X7             2660 non-null   int64
 13  home_player_X8             2660 non-null   int64
 14  home_player_X9             2660 non-null   int64
 15  home_player_X10            2660 non-null   int64
 16  home_player_X11            2660 non-null   int64
 17  away_player_X1             2660 non-null   int64
 18  away_player_X2             2660 non-null   int64
 19  away_player_X3             2660 non-null   int64
 20  away_player_X4             2660 non-null   int64
 21  away_player_X5             2660 non-null   int64
 22  away_player_X6             2660 non-null   int64
 23  away_player_X7             2660 non-null   int64
 24  away_player_X8             2660 non-null   int64
 25  away_player_X9             2660 non-null   int64
 26  away_player_X10            2660 non-null   int64
 27  away_player_X11            2660 non-null   int64
 28  home_player_Y1             2660 non-null   int64
 29  home_player_Y2             2660 non-null   int64
 30  home_player_Y3             2660 non-null   int64
 31  home_player_Y4             2660 non-null   int64
 32  home_player_Y5             2660 non-null   int64
 33  home_player_Y6             2660 non-null   int64
 34  home_player_Y7             2660 non-null   int64
 35  home_player_Y8             2660 non-null   int64
 36  home_player_Y9             2660 non-null   int64
 37  home_player_Y10            2660 non-null   int64
 38  home_player_Y11            2660 non-null   int64
 39  away_player_Y1             2660 non-null   int64
 40  away_player_Y2             2660 non-null   int64
 41  away_player_Y3             2660 non-null   int64
 42  away_player_Y4             2660 non-null   int64
 43  away_player_Y5             2660 non-null   int64
 44  away_player_Y6             2660 non-null   int64
 45  away_player_Y7             2660 non-null   int64
 46  away_player_Y8             2660 non-null   int64
 47  away_player_Y9             2660 non-null   int64
 48  away_player_Y10            2660 non-null   int64
 49  away_player_Y11            2660 non-null   int64
 50  home_player_1              2660 non-null   int64
 51  home_player_2              2654 non-null   float64
 52  home_player_3              2660 non-null   int64
 53  home_player_4              2660 non-null   int64
 54  home_player_5              2657 non-null   float64
 55  home_player_6              2660 non-null   int64
 56  home_player_7              2655 non-null   float64
 57  home_player_8              2654 non-null   float64
 58  home_player_9              2658 non-null   float64
 59  home_player_10             2653 non-null   float64
 60  home_player_11             2659 non-null   float64
 61  away_player_1              2660 non-null   int64
 62  away_player_2              2653 non-null   float64
 63  away_player_3              2659 non-null   float64
 64  away_player_4              2660 non-null   int64
 65  away_player_5              2653 non-null   float64
 66  away_player_6              2656 non-null   float64
 67  away_player_7              2653 non-null   float64
 68  away_player_8              2658 non-null   float64
 69  away_player_9              2654 non-null   float64
 70  away_player_10             2652 non-null   float64
 71  away_player_11             2655 non-null   float64
 72  on_target_shot_home_team   2660 non-null   int64
 73  on_target_shot_away_team   2660 non-null   int64
 74  off_target_shot_home_team  2660 non-null   int64
 75  off_target_shot_away_team  2660 non-null   int64
 76  foul_home_team             2660 non-null   int64
 77  foul_away_team             2660 non-null   int64
 78  yellow_card_home_team      2660 non-null   int64
 79  yellow_card_away_team      2660 non-null   int64
 80  red_card_home_team         2660 non-null   int64
 81  red_card_away_team         2660 non-null   int64
 82  crosses_home_team          2660 non-null   int64
 83  crosses_away_team          2660 non-null   int64
 84  corner_home_team           2660 non-null   int64
 85  corner_away_team           2660 non-null   int64
 86  possession_home_team       2654 non-null   float64
 87  possession_away_team       2654 non-null   float64
 88  home_team_goal             2660 non-null   int64
 89  away_team_goal             2660 non-null   int64
 90  Match_results              2660 non-null   int64
dtypes: float64(18), int64(71), object(2)
memory usage: 1.8+ MB

In [9]:
epl_matches_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 72 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           380 non-null    object
 1   stage            380 non-null    int64
 2   date             380 non-null    object
 3   match_id         380 non-null    int64
 4   home_team_id     380 non-null    int64
 5   away_team_id     380 non-null    int64
 6   home_player_X1   380 non-null    int64
 7   home_player_X2   380 non-null    int64
 8   home_player_X3   380 non-null    int64
 9   home_player_X4   380 non-null    int64
 10  home_player_X5   380 non-null    int64
 11  home_player_X6   380 non-null    int64
 12  home_player_X7   380 non-null    int64
 13  home_player_X8   380 non-null    int64
 14  home_player_X9   380 non-null    int64
 15  home_player_X10  380 non-null    int64
 16  home_player_X11  380 non-null    int64
 17  away_player_X1   380 non-null    int64
 18  away_player_X2   380 non-null    int64
 19  away_player_X3   380 non-null    int64
 20  away_player_X4   380 non-null    int64
 21  away_player_X5   380 non-null    int64
 22  away_player_X6   380 non-null    int64
 23  away_player_X7   380 non-null    int64
 24  away_player_X8   380 non-null    int64
 25  away_player_X9   380 non-null    int64
 26  away_player_X10  380 non-null    int64
 27  away_player_X11  380 non-null    int64
 28  home_player_Y1   380 non-null    int64
 29  home_player_Y2   380 non-null    int64
 30  home_player_Y3   380 non-null    int64
 31  home_player_Y4   380 non-null    int64
 32  home_player_Y5   380 non-null    int64
 33  home_player_Y6   380 non-null    int64
 34  home_player_Y7   380 non-null    int64
 35  home_player_Y8   380 non-null    int64
 36  home_player_Y9   380 non-null    int64
 37  home_player_Y10  380 non-null    int64
 38  home_player_Y11  380 non-null    int64
 39  away_player_Y1   380 non-null    int64
 40  away_player_Y2   380 non-null    int64
 41  away_player_Y3   380 non-null    int64
 42  away_player_Y4   380 non-null    int64
 43  away_player_Y5   380 non-null    int64
 44  away_player_Y6   380 non-null    int64
 45  away_player_Y7   380 non-null    int64
 46  away_player_Y8   380 non-null    int64
 47  away_player_Y9   380 non-null    int64
 48  away_player_Y10  380 non-null    int64
 49  away_player_Y11  380 non-null    int64
 50  home_player_1    380 non-null    int64
 51  home_player_2    379 non-null    float64
 52  home_player_3    380 non-null    int64
 53  home_player_4    380 non-null    int64
 54  home_player_5    380 non-null    int64
 55  home_player_6    380 non-null    int64
 56  home_player_7    380 non-null    int64
 57  home_player_8    379 non-null    float64
 58  home_player_9    380 non-null    int64
 59  home_player_10   380 non-null    int64
 60  home_player_11   380 non-null    int64
 61  away_player_1    380 non-null    int64
 62  away_player_2    379 non-null    float64
 63  away_player_3    380 non-null    int64
 64  away_player_4    380 non-null    int64
 65  away_player_5    380 non-null    int64
 66  away_player_6    380 non-null    int64
 67  away_player_7    380 non-null    int64
 68  away_player_8    380 non-null    int64
 69  away_player_9    380 non-null    int64
 70  away_player_10   380 non-null    int64
 71  away_player_11   380 non-null    int64
dtypes: float64(3), int64(67), object(2)
memory usage: 213.9+ KB

In [10]:
epl_matches_train=epl_matches_train.fillna(0)
epl_matches_test=epl_matches_test.fillna(0)

In [11]:
encoder=LabelEncoder()
epl_matches_train["season"]=encoder.fit_transform(epl_matches_train["season"])

In [12]:
epl_matches_train["season"].value_counts()

5    380
3    380
1    380
6    380
4    380
2    380
0    380
Name: season, dtype: int64

In [13]:
epl_matches_test["season"]=7

In [14]:
epl_matches_test.columns

Index(['season', 'stage', 'date', 'match_id', 'home_team_id', 'away_team_id',
       'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4',
       'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
       'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
       'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1',
       'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5',
       'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2',
       'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6',
       'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11'],
      dtype='object')

In [15]:
common_columns=['season', 'stage', 'date', 'match_id', 'home_team_id', 'away_team_id',
       'home_player_X1', 'home_player_X2', 'home_player_X3', 'home_player_X4',
       'home_player_X5', 'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'away_player_X1', 'away_player_X2', 'away_player_X3', 'away_player_X4',
       'away_player_X5', 'away_player_X6', 'away_player_X7', 'away_player_X8',
       'away_player_X9', 'away_player_X10', 'away_player_X11',
       'home_player_Y1', 'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7', 'home_player_Y8',
       'home_player_Y9', 'home_player_Y10', 'home_player_Y11',
       'away_player_Y1', 'away_player_Y2', 'away_player_Y3', 'away_player_Y4',
       'away_player_Y5', 'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11', 'home_player_1',
       'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5',
       'home_player_6', 'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1', 'away_player_2',
       'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6',
       'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11']

In [16]:
y= epl_matches_train["Match_results"]

In [17]:
train = epl_matches_train[common_columns]
test = epl_matches_test

In [18]:
train.head()

,season,stage,date,match_id,home_team_id,away_team_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11
0,0,1,17-08-2008,49337,10260,10261,1,2,4,6,...,25518.0,24228.0,30929,29581.0,38807.0,40565.0,30360.0,33852.0,34574.0,37799.0
1,0,1,16-08-2008,38136,9825,8659,1,2,4,6,...,36832.0,23115.0,37280,24728.0,24664.0,31088.0,23257.0,24171.0,25922.0,27267.0
2,0,1,16-08-2008,43276,8472,8650,1,2,4,6,...,37442.0,30617.0,24134,414792.0,37139.0,30618.0,40701.0,24800.0,24635.0,30853.0
3,0,1,16-08-2008,40671,8654,8528,1,2,4,6,...,34987.0,35472.0,111865,25005.0,35327.0,25150.0,97988.0,41877.0,127857.0,34466.0
4,0,1,17-08-2008,34633,10252,8456,1,2,4,6,...,46403.0,24208.0,23939,33963.0,47413.0,40198.0,42119.0,0.0,33633.0,107216.0

In [19]:
train = train.drop(["date"],axis=1)
test = test.drop(["date"],axis=1)

In [20]:
model_1 = LogisticRegression()
cross_val_score(model_1,train,y,cv=5).mean()

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.443609022556391

In [31]:
model_2 = RandomForestClassifier()
cross_val_score(model_2,train,y,cv=5).mean()

0.48195488721804514

In [32]:
model_3= KNeighborsClassifier()
cross_val_score(model_3,train,y,cv=5).mean()

0.37857142857142856

In [33]:
from sklearn.naive_bayes import GaussianNB
model_4= GaussianNB()
cross_val_score(model_4,train,y,cv=5).mean()

0.3180451127819549

In [34]:
from sklearn.ensemble import GradientBoostingClassifier
model_5 = GradientBoostingClassifier()
cross_val_score(model_5,train,y,cv=5).mean()

0.47481203007518796

In [35]:
model_2.fit(train,y)
prediction = model_2.predict(test)

In [181]:
prediction

array([ 1,  1,  1, -1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1, -1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
       -1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1, -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  0,  1, -1,  1, -1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,
        0,  1,  1,  1, -1,  1, -1,  1, -1,  1,  1,  1,  0,  1,  1, -1,  1,
        1,  1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1, -1,  1,  0,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1, -1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1, -1,  1, -1,  1, -1,  1,  1,  1,  1, -1,  1,
       -1, -1,  1,  1,  1,  1, -1,  1, -1,  1,  1,  1, -1,  1, -1,  1,  1,
        1, -1,  1,  1,  1,  1,  1, -1,  1, -1, -1, -1,  1,  1, -1,  1,  1,
       -1, -1, -1, -1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  0,  1,
        1, -1, -1,  1, -1,  1,  1, -1,  1,  1,  1, -1, -1,  1,  1, -1,  1,
       -1,  1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,  1, -1, -1, -1,  1,
        1,  1,  1,  1,  0, -1,  1,  0,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1, -1, -1,  1,  1, -1, -1,  1,  1,  1,  1, -1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,  1,  1,  1, -1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1,  0,  1,  1, -1,  1,
        1, -1,  1,  1,  1,  0,  1,  1, -1,  1, -1,  1,  1, -1,  1,  1, -1,
        1, -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1], dtype=int64)

In [182]:
map_result = {1:"win",0:"draw",-1:"lose"}
prediction=pd.DataFrame(prediction)
prediction

     0
0    1
1    1
2    1
3   -1
4   -1
..  ..
375  1
376  1
377  1
378  1
379  1

[380 rows x 1 columns]

In [183]:
prediction.columns=["results"]
prediction["results"]=prediction["results"].map(map_result)
prediction

    results
0       win
1       win
2       win
3      lose
4      lose
..      ...
375     win
376     win
377     win
378     win
379     win

[380 rows x 1 columns]

In [36]:
prediction.to_csv("Result.csv",index=False)

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'